extends layout
block content
  p This is where the content of the web page will go
#fb-root
  script(type='type', text='text')
    span.class
      //
        mce:0
      | window.fbAsyncInit = function() {
      | FB.init({appId: '349867401786110', status: true, cookie: true, xfbml: true});
      | };
      | (function() {
      | var e = document.createElement('script');
      | e.type = 'text/javascript';
      | e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      | e.async = true;
      | document.getElementById('fb-root').appendChild(e);
      | }());
