extends layout
block content
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Hex
          .nav-collapse.collapse
            p.navbar-text.pull-right
              | Logged in as
              a.navbar-link(href='#') Facebook
            ul.nav
              li.active
                a(href='') Home
              li
                a(href='#about') ex1
              li
                a(href='#contact') ex2
            form.navbar-search.pull-left
              input.search-query(type='text', placeholder='Search')
      .container-fluid
        .row-fluid
          .span9
            #welcome-unit.hero-unit
              h1 This Is Hex
              p We don't know what we do yet
              p
                a#primary-btn.btn.btn-primary.btn-large
                  | Touch me
                  i.icon-play.icon-white
                p

