!!! 5
html(lang="en")
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8') 
    title= 'hEx'
    meta(name='author', content='hEx')
    meta(name='description', content='Makes cutting Facebook ties easy.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    h1 Welcome to hEx!
    p This is where the content of the web page will go (layout.jade)
    style(type='text/css') 
    .fb-login-button(data-show-faces='true', data-width='200', data-max-
rows='1') Login with Facebook
  body
    #fb-root
    script(type='text/javascript')
    span.class
      //
      | window.fbAsyncInit = function() {
      | FB.init({appId: '349867401786110', status: true, cookie: true, xfbml:
true});
      | FB.Event.subscribe('auth.login', function(response) {
      | login();
      | });
      | FB.Event.subscribe('auth.logout', function(response) {
      | logout();
      | });
      | FB.getLoginStatus(function(response) {
      | if (response.session) {
      | greet();
      | }
      | });
      | };
      | (function() {
      | var e = document.createElement('script');
      | e.type = 'text/javascript';
      | e.src = document.location.protocol +
      | '//connect.facebook.net/en_US/all.js';
      | e.async = true;
      | document.getElementById('fb-root').appendChild(e);
      | }());
      | function login(){
      | FB.api('/me', function(response) {
      | alert('You have successfully logged in, '+
      | response.name+"!");
      | });
      | }
      | function logout(){
      | alert('You have successfully logged out!');
      | }
      | function greet(){
      | FB.api('/me', function(response) {
      | alert('Welcome, '+response.name+"!");
      | });

