!!! 5
html(lang="en")
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8') 
    title= 'hEx'
    meta(name='author', content='hEx')
    meta(name='description', content='Makes cutting Facebook ties easy.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1 Welcome to hEx!
    #fb-root
    .fb-login-button(data-show-faces='true', data-width='200', data-max-
rows='1') Login with Facebook
    block content
