!!! 5
html(lang="en")
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8') 
    title= 'hEx'
    meta(name='author', content='hEx')
    meta(name='description', content='Makes cutting Facebook ties easy.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1 Welcome to hEx!
    fb:login-button(autologoutlink='true', perms='email,user_birthday,status_update,publish_stream')
    block content
